.celda{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    font-size: 5em;
    font-family: sans-serif;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.celda:hover{
    background-color: rgba(255, 127, 127, 0.219);
    cursor: pointer;
}

.v1{
    border-right: 4px solid black;
}

.h1{
    border-bottom: 4px solid black;
}