.tabla{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 25px;
}
.estado{
    color: black;
    font-size: 1.4em;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.new-game{
    width: 100%;
}

