.contenedor{
    width: 600px;
    height: 600px;
    background-image: url(../../assets/img/back.gif);
    /* background-repeat: no-repeat; */
    background-size: cover;
    margin-left: 35%;
}
.tabla{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.estado{
    color: black;
    font-size: 1.4em;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.new-game{
    width: 100%;

}