.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .titulo{
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        border-bottom: 1px solid #ddd;
    }

    .tablero{
        flex-grow: 1;
        margin-top: 12px;
        align-items: center;
        justify-content: center;

        .intentosContenedor{
            display: flex;
            margin-bottom: 4px;

            .letra-contenedor{
                width: 64px;
                height: 64px;
                border: 2px solid #ddd;
                box-sizing: border-box;
                margin: 0 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 32px;
                font-weight: bold;
                text-transform: uppercase;
                transition: transform 180ms;
                
                -webkit-transition: transform 180ms;
                -moz-transition: transform 180ms;
                -ms-transition: transform 180ms;
                -o-transition: transform 180ms;
                &.tiene-text{
                    border-color: #888;
                    animation-name: letra-ap;
                    animation-duration: 120ms;
                }

                &.bien{
                    background-color: green;
                    border-color: #6aaa63;
                    color:white;
                }

                &.parcial{
                    background-color: #c9b458;
                    border-color: #c9b458;
                    color:white;
                }
                &.mal{
                    background-color: #86888a;
                    border-color: #86888a;
                    color:white;
                }

                &.fold{
                    transform: scaleY(0);
                    -webkit-transform: scaleY(0);
                    -moz-transform: scaleY(0);
                    -ms-transform: scaleY(0);
                    -o-transform: scaleY(0);
}
            }
        }
    }


    .mens-inf{
        position: absolute;
		top: 82px;
		padding: 16px 24px;
		background-color: black;
		color: white;
		border-radius: 8px;
		font-size: 16px;
		font-weight: bold;
		opacity: 0;
        &.show {
			opacity: 1;
		}

		&.fuera-mens {
			opacity: 0;
			transition: opacity 500ms;
		}
    }
}

@keyframes letra-ap{
    0%{ transform:scale(1) ; -webkit-transform:scale(1) ; -moz-transform:scale(1) ; -ms-transform:scale(1) ; -o-transform:scale(1) ; }
    50%{ transform:scale(1.15) ; -webkit-transform:scale(1.15) ; -moz-transform:scale(1.15) ; -ms-transform:scale(1.15) ; -o-transform:scale(1.15) ; }
    100%{ transform:scale(1) ; -webkit-transform:scale(1) ; -moz-transform:scale(1) ; -ms-transform:scale(1) ; -o-transform:scale(1) ; }
}
