<div class="container">
    <div class="titulo">
        Wordle
    </div>
    <div class="tablero">
        <div class="intentosContenedor" *ngFor="let intento of intentos" #intentosContenedor>
            <div class="letra-contenedor" *ngFor="let letra of intento.letras"
                [class.parcial]="letra.estado == LetraEstado.MATCH_PARCIAL"
                [class.mal]="letra.estado == LetraEstado.MAL"
                [class.bien]="letra.estado == LetraEstado.MATCH_COMPLETO"
                [class.tiene-text]="letra.text !== ''">
                
                {{letra.text}}
            </div>
        </div>
    </div>
    <div class="mens-inf" 
    [class.show]="mensInfo !== ''"
    [class.fuera-mens]="desaparicionInfo">
        {{mensInfo}}
    </div>
