<div class="contendedor-general">
    <div class="contenedor-partida">
        <div class="maquina-zona">
            <h3>OPONENTE</h3>
            <div  class="vidas-maquina">
                <img src="../../assets/img/cred.png" *ngIf="maquinav>=1;else vacio">
                <img src="../../assets/img/cred.png" *ngIf="maquinav>=2;else vacio">
                <img src="../../assets/img/cred.png" *ngIf="maquinav>=3;else vacio">
                <img src="../../assets/img/cred.png" *ngIf="maquinav>=4;else vacio">
                <img src="../../assets/img/cred.png" *ngIf="maquinav==5;else vacio">
            </div>
            <img src="../../assets/img/oponente.jpg">
            <div class="contador-maquina">Partidas ganadas del oponente: <b>{{maquina}}</b></div>
        </div>
        <div class="consola">
            <div class="contenedor-resultados">
                <img class="el-maquina" src="{{imge}}">
                <img class="el-jugador" src="{{imagejugador}}">
            </div>
            <p>{{r}}</p>
        </div>
        <div class="jugador-zona">
            <h3>JUGADOR</h3>
            <div  class="vidas-jugador">
                <img src="../../assets/img/cred.png" *ngIf="jugadorv>=1;else vacio">
                <img src="../../assets/img/cred.png" *ngIf="jugadorv>=2;else vacio">
                <img src="../../assets/img/cred.png" *ngIf="jugadorv>=3;else vacio">
                <img src="../../assets/img/cred.png" *ngIf="jugadorv>=4;else vacio">
                <img src="../../assets/img/cred.png" *ngIf="jugadorv==5;else vacio">
            </div>
            <img src="../../assets/img/jugador.jpg">
            <div class="contador-jugador">Partidas que has ganado: <b>{{jugador}}</b></div>
        </div>
    </div>
    
    

    <div class="selecciones">
        <div (click)="elegir('tijeras','../../assets/img/tijeras.png')"  class="elecciones tijeras" ></div>
        <div  (click)="elegir('papel','../../assets/img/papel.png')" class="elecciones papel"></div>
        <div  (click)="elegir('piedra','../../assets/img/piedra.png')" class="elecciones piedra"></div>
    </div>
</div>


<ng-template #vacio>
    <img src="../../assets/img/cblack.png">
</ng-template>


