<div class="contendedor-general">
    <div class="contador">
        <p class="contador-maquina">Partidas ganadas de la maquina: {{maquina}}</p>
        <p class="contador-jugador">Partidas que has ganado: {{jugador}}</p>

    </div>
    <div  class="vidas-consola">
        <img *ngFor="let image of images" id="vida1" src={{images[4]}} />
    </div>
    <div class="consola">
        {{texto}}<br>
        {{texto2}}<br>
        {{r}}
    </div>

    <div class="selecciones">
        <div (click)="elegir('tijeras')"  class="elecciones tijeras" ></div>
        <div  (click)="elegir('papel')" class="elecciones papel"></div>
        <div  (click)="elegir('piedra')" class="elecciones piedra"></div>
    </div>
</div>
